<footer class="page-footer">
  <section class="footer-top">
    <div class="footer-top__container base-container">
      <a class="footer-top__logo-link base-link" href="index.html">
        <picture class="footer-too__logo-picture">
          <source srcset="img/image/logo.webp" type="image/webp">
          <img class="footer-top__logo-img" src="img/image/logo.png" width="272" height="53" alt="#">
        </picture>
      </a>
      <ul class="footer-top__list base-list">
        <li class="footer-top__list-item">
          <a class="footer-top__list-link base-link" href="#">Главная</a>
        </li>
        <li class="footer-top__list-item">
          <a class="footer-top__list-link base-link" href="#">Этапы работы</a>
        </li>
        <li class="footer-top__list-item">
          <a class="footer-top__list-link base-link" href="#">Преимущества</a>
        </li>
        <li class="footer-top__list-item">
          <a class="footer-top__list-link base-link" href="#">Отзывы</a>
        </li>
      </ul>
      <div class="footer-top__contacts">
        <h3 class="footer-top__contacts-title base-title">Контакты</h3>
        <ul class="footer-top__contacts-list base-list">
          <li class="footer-top__contacts-list-item">
            <span class="footer-top__contacts-list-content">
              <svg class="footer-top__contacts-list-icon" width="16" height="21" aria-hidden="true">
                <use href="img/icon/sprite.svg#location-icon"></use>
              </svg>
              <span class="footer-top__contacts-list-text">г. Екатеринбург, ул. Чернышевского, д.7, офис 203</span>
            </span>
          </li>
          <li class="footer-top__contacts-list-item">
            <a class="footer-top__contacts-list-content base-link" href="tel:+79371722335">
              <svg class="footer-top__contacts-list-icon" width="17" height="16" aria-hidden="true">
                <use href="img/icon/sprite.svg#phone-icon"></use>
              </svg>
              <span class="footer-top__contacts-list-text">+7 937 172 - 23-35</span>
            </a>
          </li>
          <li class="footer-top__contacts-list-item">
            <a class="footer-top__contacts-list-content base-link" href="mailto:santex.ekb35@yandex.ru">
              <svg class="footer-top__contacts-list-icon" width="24" height="24" aria-hidden="true">
                <use href="img/icon/sprite.svg#location-icon"></use>
              </svg>
              <span class="footer-top__contacts-list-text">santex.ekb35@yandex.ru</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="footer-bottom">
    <div class="footer-bottom__container base-container">
      <span class="footer-bottom__copyright">© ИП "КОСТЫШЕВ А.С.". Все права защищены, 2011-2023</span>
      <a class="footer-bottom__user base-link" href="#">Пользовательское соглашение</a>
      <a class="footer-bottom__isart-link base-link" target="_blank" rel="noreferrer noopener" href="https://is-art.ru/">
        <span class="footer-bottom__isart-text">Разработано</span>
        <svg class="footer-bottom__isart-icon" width="52" height="22" aria-hidden="true">
          <use href="img/icon/sprite.svg#isart-icon"></use>
        </svg>
      </a>
    </div>
  </section>

</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>
<script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>

</body>

</html>