@use "../mixins";

.footer-top {
  background-color: rgba(245, 245, 245, 1);

  margin: 60px 0 0 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 128px;

    padding: 27px 0 81px 0;
  }

  &__logo-link {
    transition: transform 0.3s;
    transform-origin: left;

    &:hover {
      transform: scale(1.2);
      transform-origin: left;
      transition: transform 0.3s;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
  }

  &__list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #323648;

    transition: color 0.1s;

    &:hover {
      color: #BF3025;

      transition: color 0.1s;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // gap: 29px;

    & a {
      transition: color 0.1s;

      &:hover {
        color: #BF3025;

        transition: color 0.1s;
      }
    }
  }

  &__contacts-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    color: #323648;

    margin: 0 0 14px 0;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
  }

  &__contacts-list-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

    max-width: 260px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #323648;
  }
}