@use "../mixins";

.heading {
  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 464px;
    background-image: image-set(url('../img/image/heading.png') type("image/png") 1x,
        url('../img/image/heading.webp') type("image/webp") 1x);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

    padding: 100px 100px 130px 100px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: var(--color-white);

    margin: 0 0 10px 0;
  }

  &__subtitle {
    display: inline-block;

    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: var(--color-white);

    margin: 0 0 26px 0;
  }

  &__formset {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 39px 0;
  }

  &__input-block {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    left: 16px;

    flex-shrink: 0;

    user-select: none;
    pointer-events: none;

    transform: translateY(-50%);
  }

  &__input {
    flex-shrink: 0;

    min-width: 566px;
    border: none;
    border-radius: 8px;
    outline: none;

    font-family: var(--font-family-default);
    font-size: 16px;
    font-weight: 400;
    color: #323648;

    transition: background-color 0.3s;

    padding: 10px 162px 10px 51px;

    // &:focus {
    //   background-color: #6E95D6;

    //   transition: background-color 0.3s;
    // }
  }

  &__input-submit {
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    min-width: 146px;
    max-height: 40px;
    border-radius: 5px;
    background-color: #BF3025;

    font-family: var(--font-family-default);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);

    transition: filter 0.3s, background-color 0.3s;

    padding: 15px 18px;

    &--disabled {
      filter: grayscale(1);
      user-select: none;
      pointer-events: none;

      transition: filter 0.3s;
    }

    &:hover {
      background-color: #0099FF;

      transition: background-color 0.3s;
    }
  }

  &__info {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: var(--color-white);
  }

  &__features-wrapper {
    position: absolute;
    bottom: -44px;
  }

  &__features-container {
    position: relative;

    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: linear-gradient(90deg, rgba(4, 14, 29, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(17, 97, 205, 1) 100%);
      border-radius: 8px;

      transform: translate(-50%, -50%);

      z-index: -1;
    }
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    min-height: 88px;
    border-radius: 8px;
    background-color: #F5F5F5;

    padding: 17px 26px;
  }

  &__features-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;

    // background: #F5F5F5;

    padding: 0 12px 0 0;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;

      width: 1px;
      height: 54px;
      background: linear-gradient(132deg, #040E1D 0%, #0E305F 20.31%, #133F7B 39.58%, #19519D 57.81%, #1161CD 78.65%, #1161CD 100%);

      transform: translateY(-50%);
    }

    &:last-child {
      padding: 0;

      &:after {
        display: none;
      }
    }
  }

  &__features-item-text {
    color: #323648;
    font-size: 16px;
    font-weight: 400;
  }
}