@use "../mixins";

.modal-with-form {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 980px;
    // height: 320px;
    background-color: #FFFFFF;
    border: 1px solid rgba(211, 222, 229, 0.5);
    box-shadow: 0px 30px 100px rgba(78, 90, 109, 0.1);
    border-radius: 21px;

    padding: 60px;
    margin: auto;

    @include mixins.respond-to(notDesktop) {
      justify-content: center;

      width: 90%;
      height: auto;

      padding: 40px 10px;
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    cursor: pointer;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 15px;
      right: 15px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &--hidden {
      display: none;
    }
  }

  &__success {
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &--active {
      display: flex;
    }
  }

  &__success-text {
    display: inline-block;

    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: var(--color-black);

    @include mixins.respond-to(notDesktop) {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.modal-without-form {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 980px;
    // height: 320px;
    background-color: #FFFFFF;
    border: 1px solid rgba(211, 222, 229, 0.5);
    box-shadow: 0px 30px 100px rgba(78, 90, 109, 0.1);
    border-radius: 21px;

    padding: 60px;
    margin: auto;

    @include mixins.respond-to(notDesktop) {
      justify-content: center;

      width: 90%;
      height: auto;

      padding: 40px 10px;
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    cursor: pointer;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 15px;
      right: 15px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &--hidden {
      display: none;
    }
  }

  &__success-text {
    display: inline-block;

    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: var(--color-black);

    @include mixins.respond-to(notDesktop) {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.reviews-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.60);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;

  transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  padding: 10px;

  z-index: 1000;

  &--active {
    display: flex;

    visibility: visible;
    opacity: 1;

    transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__wrapper {
    position: relative;

    border-radius: 16px;
    background-color: var(--color-white);

    padding: 60px;
    margin: auto;

    @include mixins.respond-to(notDesktop) {
      justify-content: center;

      width: 90%;
      height: auto;

      padding: 40px 10px;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    cursor: pointer;

    transition: filter 0.1s;

    &:hover {
      filter: brightness(0) saturate(100%) invert(21%) sepia(86%) saturate(2340%) hue-rotate(348deg) brightness(87%) contrast(89%);
      transition: filter 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      top: 15px;
      right: 15px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #323648;
  }

  &__image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__image-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    background-color: #F5F5F5;
    border-radius: 50%;
  }

  &__image-block-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 50%;

    transition: background-color 0.3s;

    &:hover {
      background-color: #09f;

      transition: background-color 0.3s;
    }
  }

  &__image-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__image-caption {
    font-size: 16px;
    font-weight: 600;
    color: #323648;
  }

  &__image-desc {
    max-width: 280px;

    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #323648;
  }
}