@use "../mixins";

.services {

  margin: 70px 0 0 0;

  @include mixins.respond-to(notDesktop) {
    margin: 40px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin: 0 0 24px 0;
  }

  &__wrapper {
    display: inline-grid;
    grid-template: 1fr / repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-flow: row;
    gap: 30px;

    width: 100%;
    min-height: 320px;
  }

  &__item {
    position: relative;

    padding: 0;

    &--active {
      padding: 0 0 370px 0;

      & .services__item-card::after {
        bottom: -400px;

        transition: bottom 0.6s cubic-bezier(.5, .7, .7, .5);
      }

      & .services__item-card-button {
        background-color: var(--color-white);

        color: var(--color-black);

        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #BF3025;

          color: var(--color-white);

          transition: background-color 0.3s, color 0.3s;
        }
      }

      & .services__item-pricing {
        display: grid;

        @include mixins.respond-to(notDesktop) {
          display: flex;
        }
      }
    }
  }

  &__item-pricing {
    position: absolute;
    top: 160px;

    display: none;
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
    gap: 19px 30px;

    height: fit-content;
    border-radius: 16px;
    background-color: #F5F5F5;

    padding: 40px 40px 25px 40px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;

      padding: 40px 10px 15px 10px;
    }
  }

  &__item-pricing-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px dashed#BBB;

    padding: 19px 48px 15px 0;

    @include mixins.respond-to(notDesktop) {
      justify-content: space-between;
      gap: 20px;

      width: 100%;
      max-width: 100%;

      padding: 0 0 15px 0;
    }
  }

  &__item-pricing-name {
    font-size: 16px;
    font-weight: 400;
    color: #323648;
  }

  &__item-pricing-price {
    flex-shrink: 0;

    font-size: 16px;
    font-weight: 600;
    color: #323648;
  }

  &__item-card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;

    width: 100%;
    min-height: 145px;
    border-radius: 8px;
    background-color: #F5F5F5;
    overflow: hidden;

    transition: background-color 0.3s, color 0.3s;

    padding: 23px 20px;

    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: -500px;
      left: -40px;

      border-radius: 40%;
      width: 380px;
      height: 480px;
      background-color: #09f;

      transition: bottom 0.6s cubic-bezier(.5, .7, .7, .5);
      animation: 6s cubic-bezier(.5, .7, .7, .5) infinite drift;

      z-index: -1;
    }
  }

  @keyframes drift {
    from {
      transform: rotate(0deg);
    }

    from {
      transform: rotate(360deg);
    }
  }

  &__item-card-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
  }

  &__item-card-title {
    font-size: 18px;
    font-weight: 500;
    color: #323648;

    @include mixins.respond-to(notDesktop) {
      display: inline-block;

      max-width: 200px;
    }
  }

  &__item-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
  }

  &__item-card-price {
    font-size: 16px;
    font-weight: 400;
    color: #323648;

    @include mixins.respond-to(notDesktop) {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__item-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 8px;
    background-color: #BF3025;

    font-family: var(--font-family-default);
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);

    transition: background-color 0.3s, color 0.3s;

    padding: 11px 24px;

    &:hover {
      background-color: #0099FF;

      transition: background-color 0.3s;
    }
  }
}